[submodule "themes/cocoa"]
	path = themes/cocoa
    url = https://github.com/nishanths/cocoa-hugo-theme.git
[submodule "themes/pickles"]
	path = themes/pickles
	url = git@github.com:mismith0227/hugo_theme_pickles.git
[submodule "themes/kiss"]
	path = themes/kiss
	url = https://github.com/ribice/kiss.git
